{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>商品編號</th>
        <td><input class="form-control" type="text" value="{{ data.商品編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>商品名稱</th>
        <td><input class="form-control" type="text" value="{{ data.商品名稱 }}" name="pname" required></td>
      </tr>
      <tr>
        <th>單價</th>
        <td><input class="form-control" type="text" value="{{ data.單價 }}" name="price" required></td>
      </tr>
      <tr>
        <th>類別</th>
        <td>
          <select class="form-control" name="Category">
            {% if data.類別 == '上身' %}
              <option value="其他">其他</option>
              <option value="下身">下身</option>
              <option value="上身" selected>上身</option>
            {% elif data.類別 == '下身' %}
              <option value="其他">其他</option>
              <option value="下身" selected>下身</option>
              <option value="上身">上身</option>
            {% else %}
              <option value="其他" selected>其他</option>
              <option value="下身">下身</option>
              <option value="上身">上身</option>
            {% endif %}
            
        </select>
      </tr>
      <tr>
        <th>商品敘述</th>
        <td>
          <textarea class="form-control" name="description">{{ data.商品敘述 }}</textarea>
        </td>
      </tr>
      <tr>
        <th>商品狀態</th>
        <td>
          <select class="form-control" name="Pstatus">
            {% if data.商品狀態 == '全新' %}
              <option value="全新" selected>全新</option>
              <option value="二手">二手</option>
            {% else %}
              <option value="全新">全新</option>
              <option value="二手" selected>二手</option>
            {% endif %}    
        </select>
      </tr>
      <tr>
        <th>供應商</th>
        <td><input class="form-control" type="text" value="{{ data.供應商 }}" name="Supplier_id" required></td>
      </tr>
      <!-- <tr>
        <th>商品圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" data-target="file-uploader"/>
        </td>
      </tr> -->
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回商品管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}