{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}
<br/>
<div class="container-xl">
  <form method="post" action="{{url_for('bookstore.confirm_order') }}">
    <table class="table table-bordered">
      <tr>
        <th><center>商品編號</center></th>
        <th><center>商品名稱</center></th>
        <th><center>商品價格</center></th>
        <th><center>數量</center></th>
        <th><center>商品狀態</center></th>
      </tr>
      {% for product in data %}
      <tr>
        <td> <center>{{ product.商品編號 }}</center></td>
        <td> <center>{{ product.商品名稱 }}</center></td>
        <td> <center>{{ product.商品價格 }}</center></td>
        
        <td width="20%">
          <center>
            {{ product.數量 }}
          </center>
        </td>
        <td> <center>{{ product.商品狀態 }}</center></td>
      </tr>
      {% endfor %}
    </table>
    <div class="col align-self-end">
      
    </div>
    <div class="container-xxl" style="text-align: right;">
      <div class="row">
        <div class="col align-self-start">
 
        </div>
        <div class="col align-self-center">

        </div>
        <div class="mt-3">
          <p><b>訂單總價：{{ ttotal }} 元</b></p>
          {% if used_discount > 0 %}
            <p>二手商品折價：{{ used_discount }} 元</p>
          {% endif %}
          {% if green_discount > 0 %}
            <p>綠色運輸折價：{{ green_discount }} 元</p>
          {% endif %}
          <p><b>最後付款金額：{{ total }} 元</b></p>
        </div>
      </div>
    </div>

    
    <center> 
      <div class="option">
        <a href="{{ url_for('bookstore.cart') }}" class="btn btn-primary">回購物車</a>
        <button class="btn btn-success" type="submit" name="order" value="order">下訂單</button>
      </div>
    </center>

  </form>
</div>
{% endblock content%}